nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  align-items: center;
}

.logo a {
    color: black; /* Set your desired logo text color */
    font-size: 24px;
    text-decoration: none;
    font-weight: bolder;
  }

  .menu-items a {
    color:cadetblue; /* Set your desired menu item text color */
    text-decoration: none;
    margin-left: 10px;
  }
.titleIcon {
  width: 32px;
  height: 32px;
}

.topVideos
{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 200px 200px;
  gap: 30px;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 100px;
}
section
{
  padding: 0.5em;
}

